<html>
    <head>
        <link rel="stylesheet" href="/static/css/simple.css" />
    </head>
    <body>
        <h1>Hi Bhavani This is sample testing with static folder</h1>
        <img src="/static/images/2023-02-16(1).png" alt="image" height=50 width=50 /><br> 
        {{message}}<br>
        <video width="320" height="240" controls>
            <source src="/static/video.mp4" type="video/mp4" />
        </video><br>
        <audio controls>
            <source src="/static/audio.mp3" />
        </audio><br>
        
        <script src="/static/js/simple.js" charset='utf-8'></script>
    </body>
</html>