<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>User Account</title>
        <style>
            .gfg{
                font-size: 25px;
                color: red;
                font-style: italic;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <h2>USer Profile</h2>
            </div>
            <br>
            <div class="row">
                Logged in : <strong class="gfg">{{ session.name }}</strong> | <a href="{{ url_for('logout') }}">LogOut</a>
            </div>
            <br><br>
            <div class="row">
                <h2> Welcome to the User Profile page...????</h2>
            </div>
        </div>
        <h2>Hello Welcome to Greeks for Greeks!!!</h2>
        <button type="submit">LogOut</button>
    </body>
</html>