<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            .ok{
                font-size:20px;
            }
            .submit{
                background-color:yellow;
                font-size:20px;
                margin-left:-70px;
                font-weight:bold;
                border-radius:5px;
                cursor:pointer;
            }
        </style>
    </head>
    <body>
        <h1>Uploading and downloading files in flask</h1>
        <form method='POST' action='/' enctype='multipart/form-data'>
            <input class="ok" type='file' name="file" />
            <button class="submit">Submite</button>

        </form>
    </body>






</html>